.pop{
  background-color: black;
  padding-top: -4%;
  padding-left: 5%;
  padding-bottom: -20%;
  border: 3px solid rgb(255,223,0);
  align-content: center;
}
.space3{
  margin-top: 5.2%;
}

scrollable-element{
  visibility: hidden;
}
.modal-dialog{
  width: 150px;
}
