
<ion-grid class="background">

    <ion-row>

      <ion-col class="alignment">
        
        <ion-row class="ion-text-center">
                    <ion-col>
           
                         <img src="./assets/snake-logo.png" class="image-style">
           
                    </ion-col>        
        </ion-row>
        
        <ion-row class="ion-text-center">
                     <ion-col>
                        <ion-button fill="clear" class="button-style">
                     <span>
                         Play Snakes and Ladders game
                     </span>
                        </ion-button>
                   </ion-col>
        </ion-row>
        
      </ion-col>
    
      <ion-col class="alignment">

        <ion-row class="ion-text-center">
          <ion-col>
            
              <img src="./assets/Memory.png" class="image-style">
            
          </ion-col>  
        </ion-row>
        
        <ion-row class="ion-text-center">
          <ion-col>
                    <ion-button fill="clear" class="button-style"  routerLink="/memory-rooms"> 
                       <span>
                          Play Memory Card game
                       </span>
                    </ion-button>
          </ion-col>  
        </ion-row>
              
      </ion-col>

    </ion-row>
   
</ion-grid>
