
  .background-img {
    background: url('/assets/bgg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

  h1{
    // background-color: rgba(128, 73, 36, 0.712);
    font: italic small-caps bolder 30px arial sans-serif;
    color: rgba(8, 8, 8, 0.959);
    text-align: center;
     
     }

     .padding{
       padding-left: 10px;
     }

  .space{
    padding-top: 50px;
     }

  .styling{
    background-color: rgba(156, 106, 74, 0.671);
    font: bolder small-caps italic 30px arial sans-serif;
    color: rgb(2, 2, 2);
    text-align: center;
    padding-top: 20px;
     }
    

  h3{
    font: bolder small-caps italic 30px arial sans-serif;
    color: rgb(8, 8, 8);
    text-align: center;
     }   
  
     //button
 .grad{
      background-image: linear-gradient(to right, rgb(9, 65, 13), rgba(55, 138, 66, 0.932)); 
      color: darken($color: #0c0c0c, $amount: 0); 
      border-radius: 40px;
      font-family: cursive;
      border: 2px solid rgb(14,13,13);
      padding-bottom: 5px;
      padding-top: 5px;
      height: 40px;
      box-shadow: 0 8px 16px 0 rgba(231, 177, 152, 0.836), 0 6px 50px 0 rgb(136, 55, 55)
     
 }
  .space1
  {
    position: relative;
    color: #fff;
    font-size: 5em;
    text-shadow: 0 0 50px #0f0,
                0 0 100px #0f0,
                0 0 150px #0f0,
                0 0 200px #0f0,
                0 0 250px #0f0;
  animation: animate 5s linear infinite;
  }
  @keyframes animate
{ 
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}
@media only screen and (min-width: 500px) and (max-width:  600px) {
  .space1{
    margin-left: 35%;
  }
}
@media only screen and (min-width: 599px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 587px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 583px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 579px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 497px) and (max-width:  600px) {
  .space1{
    margin-left: 35%;
  }
}
@media only screen and (min-width: 400px) and (max-width:  600px) {
  .space1{
    margin-left: 35%;
  }
}
@media only screen and (min-width: 591px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 581px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 300px) and (max-width:  600px) {
  .space1{
    margin-left: 30%;
  }
}
@media only screen and (min-width: 200px) and (max-width:  600px) {
  .space1{
    margin-left: 25%;
  }
}

@media only screen and (min-width: 583px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 578px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 587px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 576px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
}
@media only screen and (min-width: 566px) and (max-width:  600px) {
.space1{
  margin-left: 30%;
}
}
@media only screen and (min-width: 592px) and (max-width:  600px) {
  .space1{
    margin-left: 1%;
  }
  }
  @media only screen and (min-width: 580px) and (max-width:  600px) {
    .space1{
      margin-left: 1%;
    }
    }
    @media only screen and (min-width: 540px) and (max-width:  600px) {
      .space1{
        margin-left: 35%;
      }
      }
      @media only screen and (min-width: 600px) and (max-width:  600px) {
        .space1{
          margin-left: 1%;
        }
        }
        @media only screen and (min-width: 596px) and (max-width:  600px) {
          .space1{
            margin-left: 1%;
          }
          }
          @media only screen and (min-width: 594px) and (max-width:  600px) {
            .space1{
              margin-left: 1%;
            }
            }
            @media only screen and (min-width: 590px) and (max-width:  600px) {
              .space1{
                margin-left: 1%;
              }
              }
             
                  @media only screen and (min-width: 500px) and (max-width:  600px) {
                    .space1{
                      margin-left: 1%;
                    }
                    }
                    @media only screen and (min-width: 546px) and (max-width:  600px) {
                      .space1{
                        margin-left: 35%;
                      }
                      }
                      @media only screen and (min-width: 582px) and (max-width:  600px) {
                        .space1{
                          margin-left: 1%;
                        }
                      }
                      @media only screen and (min-width: 500px) and (max-width:  600px) {
                        .space1{
                          margin-left: 35%;
                        }
                        }
                        @media only screen and (min-width: 588px) and (max-width:  600px) {
                          .space1{
                            margin-left: 1%;
                          }
                          }
                          @media only screen and (min-width: 582px) and (max-width:  600px) {
                            .space1{
                              margin-left: 1%;
                            }
                            }