
<ion-content>
  <ion-grid class="background-image" style="background-image: url(https://i.pinimg.com/originals/3a/7e/61/3a7e613f2e80f41729e210828405b820.jpg);">
     
    <ion-row>
       <ion-col size-xs="1" size-sm="4" size-md="6" size-lg="5" offset-xs="3" offset-sm="4" offset-md="5" offset-lg="4" >
          <h1> Room created by</h1><br>
              <h2>    </h2>
       </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-xs="1" size-sm="4" size-md="6" size-lg="2" offset-xs="3" offset-sm="4" offset-md="5" offset-lg="10" >
        
      </ion-col>
    </ion-row>
        
   
    <ion-row>
      <ion-col size-xs="1" size-sm="4" size-md="6" size-lg="2" offset-xs="3" offset-sm="4" offset-md="5" offset-lg="10" >
        <ion-button color="saddelbrown" shape="round" ion-button-border-width="5px" >
          START
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
