<ion-content>

  <ion-grid class="background-img"> 

    <ion-row class="space ion-text-center">
    
      <ion-col class="ion-align-self-center">

        <ion-row class="ion-text-center">
           <span class="font">Room Creator : <img class="sizing" src="../../assets/tok1.png"> {{this.crService.leader}}</span>
        </ion-row>

        <ion-row>
          <span class="textStyle">Room number : </span>
          <input class="boxStyle" type="text" readonly [(ngModel)]="this.crService.roomToken">
          <ion-button class="butStyle" cdkCopyToClipboard="{{crService.roomToken}}" matTooltip="Copy to clipboard">
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
        </ion-row>

        <ion-row>
          <span class="font"><u>Joined players</u></span>
        </ion-row>

          <ion-row class="ion-text-center" *ngFor="let name of this.crService.names; index as i">
            <span class="font"><img *ngIf="name!=null" class="sizing" src="../../assets/tok{{i+2}}.png"> {{name}}</span>
        </ion-row> 

       </ion-col> 
       
   </ion-row>
        
    
    <ion-row> 
     <ion-col class="ion-padding-top  padding" *ngIf="this.crService.truth" >
       <ion-button (click)="this.crService.onClick()" [disabled]="crService.names[0]==null" class="grad" fill="clear" >
        <h5 class="setbutton">Start</h5> <ion-icon name="arrow-forward-circle-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>

  </ion-grid>   
</ion-content>    