

  <ion-grid class="background-img">
      
        <ion-row class="background-box" >
           <ion-col>
                  <ion-row class="ion-justify-content-center">
                      <span class="fontStyles">
                          Hello {{rmService.userName}}!
                      </span>
                  </ion-row>
                  
                  <ion-row class="ion-justify-content-center">
                      <span class="fontStyles1">
                          Total Gameplays : {{rmService.gplay}}
                      </span>
                  </ion-row>
                 
                  <ion-row class="ion-justify-content-center">
                      <span class="fontStyles1">
                          Total Wins : {{rmService.wins}}
                      </span>
                  </ion-row>
                                       
           


            <ion-row class="ion-justify-content-center">
                <ion-col size="6.7" size-xl="6">
                    <ion-button class="grad" (click)="Audio()"  routerLink="/memory-createroom" expand="block" shape="round" fill="clear">
                        <span>Create Room</span>
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>

             <ion-row class="ion-justify-content-center">
                <ion-col size="6.7" size-xl="6">
                    <ion-button (click)="popup()" (click)="Audio()" class="grad" expand="block" shape="round" fill="clear">
                        <span>Join Room</span>
                        <ion-icon name="enter-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row> 
                
            <ion-row class="ion-justify-content-center">
                <ion-col size="6.7" size-xl="6">
                    <ion-button (click)="this.rmService.signOut()" (click)="Audio()" routerLink="/home" class="grad" expand="block" shape="round" fill="clear">
                        <span>Sign Out<ion-icon name="refresh-outline"></ion-icon></span>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="6.7" size-xl="6">
                    <ion-button (click)="Audio()" routerLink="/game-option" class="grad" expand="block" shape="round" fill="clear">
                        <span>Back<ion-icon name="refresh-outline"></ion-icon></span>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-col>
    </ion-row> 
    
  </ion-grid>
