
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Concert+One&family=Sansita+Swashed:wght@300&display=swap');

.background-img{
  background: url('/assets/memory-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
}

.background-box{
  background-color: #9fc2d9;
  border: 5px solid #051f60;
  background-size: 50% 70%;
}



  .fontStyles{
    font-family: 'Chewy', cursive;
    color: #054558;
    text-align: center;
    text-shadow: 2px 2px 3px #353bc7;
    font-size: 50px;
  }

  .fontStyles1{
    font-family: 'Chewy', cursive;
    color: #054558;
    text-align: center;
    text-shadow: 2px 2px 3px #353bc7;
    font-size: 20px;
  }

  .grad{
    background-image: linear-gradient(to right, #4eb7e1, #91f8d7);
    color: #020423;
    font-family: 'Patrick Hand SC', cursive;
    border-radius: 40px; 
    border: 2px solid #752ebb; 
  }

  @media only screen and (min-width:300px) and (max-width:370px){
    .grad{
      font-size:10px ;
    }
    .fontStyles{
      font-size: 37px;
    }
    .fontStyles1{
      font-size: 23px;
    }
   }

   @media only screen and (min-width:250px) and (max-width:300px){
    .grad{
      font-size: 8px;
    }
    .fontStyles{
      font-size: 34px;
    }
    .fontStyles1{
      font-size: 20px;
    }
   }

  





