
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');


.bg{
  background-color: #1a1673;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.grad{
  color: #02182f;
  font-family: 'Patrick Hand SC', cursive;
  background-color: #3c92bb;
  border-radius: 20px;
  font-size: 19px;
  border: 3px solid black;
}

.font{
  font-family: 'Caveat', cursive;
  font-size: 44px;
  color: #faeace;
}

@media only screen and (min-width:320px) and (max-width:576px) {
  .font{
    font-size: 33px;
  }

  .grad{
    font-size: 10px;
  }
}

@media only screen and (min-width:576px) and (max-width:700px) {
  .image{
      max-width: 75%;
  }
}

@media only screen and (min-width:700px) and (max-width:900px) {
  .image{
      max-width: 58%;
  }
}

@media only screen and (min-width:900px) and (max-width:1200px) {
  .image{
      max-width: 52%;
  }
}

@media only screen and (min-width:1200px)  {
  .image{
      max-width: 70%;
  }

  .font{
    font-size: 60px;
  }
}

