<ion-content>
  <ion-grid class="bg">

    <ion-row class="ion-text-center">
      <ion-col>
        <span class="font">Game Summary</span>
      </ion-col>
    
    </ion-row>


    <ion-row class="ion-text-center">
      <ion-col>
          <img src="../assets/first.png" class="image">
      </ion-col>  
      
      <ion-col>
       
        <span class="font">
          <!-- {{this.bService.winner}}  -->
          User Win!!</span>
      </ion-col>
    </ion-row> 

      
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button routerLink="/game-option" (click)="CloseModal()" class="grad" fill="clear">
            Redirect to games <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </ion-col>
       
      </ion-row>
    
  </ion-grid>
</ion-content> 
