
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Indie+Flower&display=swap');

.bg{
    background-color: rgb(12, 12, 12);
    height: 100%;
}
.grad{
    font-family: 'Poppins', sans-serif;
    background: rgb(12, 12, 12);
    border: 2px solid rgb(255, 252, 252);
    border-radius: 10%;
    color: white;
}

p{
    font-family: 'Indie Flower', cursive;
    color: white;
  }
@media only screen and (min-width:250px) and (max-width:576px){
    .image{
        width: 50%;
        padding-top: 6%;
    }
}

@media only screen and (min-width:576px) and (max-width:900px) {
    .image{
        max-width: 63%;
    }
}

@media only screen and (min-width:900px) and (max-width:1200px) {
    .image{
        max-width: 60%;
    }
}

@media only screen and (min-width:1200px) {
    .image{
        max-width: 58%;
    }
}


















