<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join room</title>
</head>
<body>
    
    <form method="POST">
        <input name="enterid" id="enterid" type="text">
        <button type="submit">
            Join!
        </button>
    </form>

</body>
</html>