.pop{
  padding-top: 18%;
  padding-left: 34%;
  padding-bottom: -1%;
  align-content: center;
  background-color: linear-gradient(to right, rgb(9, 65, 13), rgba(55, 138, 66, 0.932));
  overflow: hidden;
  border: 3px solid rgb(255,223,0); 
  ;
}
.space1{
  margin-top: -23%;
  
}
.space2{
  margin-top: 4%;
}
.space{
  margin-top: 6%;
  margin-left: 30%;
}
.space3{
  margin-top: -8.5%;
}





