.pop{
  padding-top: 20%;
  padding-left: 34%;
  padding-bottom: -10%;
  align-content: center;
  
}

@media only screen and (max-width: 400px) {
  .pop{
      padding-top: 20%;
      padding-left: 5%;
      padding-right: 5%;
  }

}

