<ion-content>
  <ion-grid class="bg">

    <ion-row class="ion-text-center">
      <ion-col>
        <span class="font">Game Summary</span>
      </ion-col>
      <!-- <ion-col>
        <ion-button (click)="CloseModal()" fill="clear" > 
           <span class="grad"> x </span>
        </ion-button>
      </ion-col> -->
    
    </ion-row>
 
    <!-- <ion-row class="ion-text-center">
     
    </ion-row>  -->

    <ion-row class="ion-text-center">
      <ion-col>
          <img src="../assets/win.png" class="image">
      </ion-col>  
      
      <ion-col>
        <!-- <img src="../assets/first.png" class="image"> -->
        <span class="font">{{this.bService.winner}} Win!!</span>
      </ion-col>
    </ion-row> 

      <!-- <ion-row class="ion-text-center">
        <ion-col>
         
        </ion-col>
        
      </ion-row> -->
      
      <ion-row>
        <ion-button class="grad" fill="clear">
          Redirect to home page
        </ion-button>
      </ion-row>
    
  </ion-grid>
</ion-content> 
