<ion-content>
  <ion-grid>

    <ion-row class="ion-text-end">
      <ion-col>
        <ion-button (click)="CloseModal()" fill="clear" >
          <h4><b>X</b></h4>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <img src="../assets/first.png" class="image">
      </ion-col>

      <ion-col>
          <img src="../assets/win.png" class="image">
      </ion-col>      
    </ion-row> 

      <ion-row class="ion-text-center">
        <ion-col>
          <h1><b>YOU WIN!!</b></h1>
        </ion-col>
        
      </ion-row>
    
  </ion-grid>
</ion-content> 
