
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

// h1{
//   font-family: 'Indie Flower', cursive;
//   color: rgb(250, 249, 249);
// }

.bg{
  background-color:#fbdb93;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(138, 80, 5);
}

.grad{
    color: #fcc389;
    font-family: 'Poppins', sans-serif;
    background-color: #86490e;
    border-radius: 20px;
    border: 2px solid black;
}

.font{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

@media only screen and (min-width:576px) and (max-width:700px) {
  .image{
      max-width: 88%;
  }
}

@media only screen and (min-width:700px) and (max-width:900px) {
  .image{
      max-width: 66%;
  }
}

@media only screen and (min-width:900px) and (max-width:1200px) {
  .image{
      max-width: 61%;
  }
}

@media only screen and (min-width:1200px)  {
  .image{
      max-width: 65%;
  }

  .font{
    font-size: 35px;
  }
}

