
<ion-content>

  <ion-grid class="background-img"> 

    <ion-row class="space ion-text-center">
      <ion-col>

        <ion-row class="ion-text-center">
          <ion-col>
           <span class="font">Room Creator :
             {{crService.leader}}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <span class="font">
              Room number : 
            </span>
            <input class="boxStyle" type="text" readonly [(ngModel)]="roomT">
              <ion-button class="butStyle" cdkCopyToClipboard="{{roomT}}">
                <ion-icon name="copy-outline"></ion-icon>
              </ion-button>
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <span class="font"><u>Joined player</u></span>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center" *ngFor="let name of crService.names; index as i">
          <ion-col>
            <span class="font">{{name}}</span>
          </ion-col>
        </ion-row> 

       </ion-col> 
       
   </ion-row>
        
    
    <ion-row> 
     <ion-col class="ion-padding-top  padding" *ngIf="crService.truth">
       <ion-button  class="grad" fill="clear"
                    (click)="crService.onClick()" 
                    [disabled]="crService.names[0]==null" > 
        <span >Start</span> <ion-icon name="arrow-forward-circle-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>

  </ion-grid>   
</ion-content>    
