
<ion-content>

  <ion-grid class="background-img"> 

    <ion-row class="space ion-text-center">
      <ion-col class="ion-align-items-center">

        <ion-row>
          <ion-col>
            <span class="font">
              Room Code : 
            </span>
            <input class="input-style" type="text" readonly [(ngModel)]="roomT">
              <ion-button cdkCopyToClipboard="{{roomT}}" fill="clear"> 
                <ion-icon name="copy-outline"></ion-icon>
            </ion-button>          
        </ion-col>
        </ion-row>


       </ion-col> 
       
   </ion-row>

   <ion-row class="ion-text-center">

             <ion-col class="ion-align-self-center">
                
        
                <img src="../assets/red.png" class="user-image">
              
                   <!-- <ion-row> -->
                         <span class="font">
                            {{crService.leader}}
                         </span>
                         
                   <!-- </ion-row> -->
             </ion-col>

            <ion-col>
               <img src="../assets/VS.png" class="img">
            </ion-col>

           <ion-col class="ion-align-self-center">
          
              <img src="../assets/red.png" class="user-image">
            
           
              <!-- <ion-row> -->
                  <span class="font ion-align-self-center">
                    {{crService.player2}}
                  </span>
              <!-- </ion-row> -->
           </ion-col>
   </ion-row>
        
    
    <ion-row class="ion-text-center"> 
     <ion-col class="ion-padding-top" >  
      <!-- *ngIf="crService.truth" -->

       <ion-button (click)="Audio()" class="grad" fill="clear" routerLink="/memory-board">
                    <!-- (click)="crService.onClick()" 
                    [disabled]="crService.player2==null"  -->
        <span >Start</span> <ion-icon name="arrow-forward-circle-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>

  </ion-grid>   
</ion-content>    
