
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.background-img {
  background: url("/assets/memory-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
}

.background-box{
 background-color: #81b0f0;
 border: 5px solid #0a0a5f;
}

.font{
  font-family: 'Caveat', cursive;
  color: #080808;
  font-size: 45px;
  
}


.icon-style{
  --background: transparent !important;
  --box-shadow: 0;
  font-size: 27px;
  color: rgb(10, 10, 10);
}

 @media only screen and (min-width: 320px) and (max-width: 500px){
   .font{
     font-size: 32px;
   }

   .user-image{
     width: 80%;
   }

   .input-style{
     font-size: 25px;
   }

   .icon-style{
     font-size: 13px;
   }

   .img{
     width: 60%;
     height: 65%;
   }
 }

 @media  only screen and (min-width: 500px) and (max-width:1200px){
  .font{
    font-size: 70px;
  }

  .user-image{
    width: 45%;
  }

  .img{
    height: 65%;
    width: 50%;
  }
}

 @media  only screen and (min-width: 1200px){
   .font{
     font-size: 70px;
   }

   .user-image{
     width: 45%;
   }

   .img{
     height: 65%;
     width: 50%;
   }
 }


.input-style{
  background-color: transparent;
  border: 0px;
  width: 140px;
  margin-left: 15px;
  font-size: 40px;
  font-family: 'Chewy', cursive;
  color: #363bc0 ;
  font-weight: 600;
}

.img{
  height: 85%;
  width: 63%;
}

.user-image{
  border: 2px solid white;
  border-radius: 50%;

}


.grad {
  background-color: #0d2372;
  color: #f8dfa7;
  border-radius: 40px;
  font-family: 'Patrick Hand SC', cursive;
  border: 2px solid rgb(14, 13, 13);
  font-size: 18px;
}


