  

   <div style="width: 100%; height: 100%; background-image: url(https://i.pinimg.com/originals/3a/7e/61/3a7e613f2e80f41729e210828405b820.jpg)">
  <ion-grid >
    
    <ion-row *ngFor='let Loop of counter(10); let i=index'>
      <ion-col size="8" *ngFor='let Loop of counter(10); let j=index'>
        <div id="{{10*i+j+1}}" class="background"  [ngStyle]="{'background-color': (j+i)%2==0 ? 'rgb(146, 94, 45)' : ' rgb(233, 199, 140)'}">
        </div>
      </ion-col>
    </ion-row>
  
    
    <br><br>
  
  <div style="background-color: rgba(139, 99, 67, 0.637) ;" >
    <ion-row>
      <ion-col  size-xs="3" size-sm="6" size-md="6" size-lg="5" offset-xs="1" offset-sm="4" offset-md="5" offset-lg="3" >
         <h1>  <ion-icon name="arrow-undo-outline"></ion-icon>  Click to roll</h1>
      </ion-col>
    </ion-row>  
  
  <ion-row>
    <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="5" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" > <h1><img src="../assets/red.png" height="20px" width="20px" > </h1> </ion-col>
    <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="5" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3"> <h1><img src="../assets/blue.png" height="20px" width="20px" >  </h1>  </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="8" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" >  <h1><img src="../assets/green.png" height="22px" width="20px" > </h1></ion-col>
    <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="8" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" >  <h1><img src="../assets/yel.png" height="20px" width="20px" > </h1></ion-col>
  </ion-row>
  </div>

</ion-grid>
   </div>





<!-- 



<div style="background-image: url(https://i.pinimg.com/originals/3a/7e/61/3a7e613f2e80f41729e210828405b820.jpg);  ">

<ion-grid>
  
  <ion-row *ngFor='let Loop of counter(10); let i=index'>
    <ion-col style="width: 5vh;" *ngFor='let Loop of counter(10); let j=index'>
      <div id="{{10*i+j+1}}" class="background"  [ngStyle]="{'background-color': (j+i)%2==0 ? 'rgb(146, 94, 45)' : ' rgb(233, 199, 140)'}">
      </div>
    </ion-col>
  </ion-row>
  
  

  <div style="background-color: rgba(139, 99, 67, 0.637) ;" >
  <ion-row>
    <ion-col  size-xs="3" size-sm="6" size-md="6" size-lg="5" offset-xs="1" offset-sm="4" offset-md="5" offset-lg="3" >
       <h1>  <ion-icon name="arrow-undo-outline"></ion-icon>  Click to roll</h1>
    </ion-col>
  </ion-row>  

<ion-row>
  <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="5" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" > <h1><img src="../assets/red.png" height="20px" width="20px" > </h1> </ion-col>
  <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="5" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3"> <h1><img src="../assets/blue.png" height="20px" width="20px" >  </h1>  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="8" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" >  <h1><img src="../assets/green.png" height="22px" width="20px" > </h1></ion-col>
  <ion-col size-xs="3" size-sm="4" size-md="4" size-lg="8" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="3" >  <h1><img src="../assets/yel.png" height="20px" width="20px" > </h1></ion-col>
</ion-row>
</div>

</ion-grid>
</div> -->
