
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

 .img-size{
   height: 15px; 
   width: 15px;
   margin: auto;
 }

//  ion-content{
//     align-content: center;
//  }
 .names{
   font-family: 'Indie Flower', cursive;
   color: white;
 }

 .players{
    height: 35%;
    width: 35%;
    margin-left: 35%;
 }
 .padding{
   margin: auto;
   position: relative;

 }

 .players-size{
   width: 24px;
   height: 22px;
   padding-top: 1%;
   padding-right: 2%;
   font-family: 'Indie Flower', cursive;
 }

 .background-img{
    background: url('/assets/wooden-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%; 
    overflow-y: auto; 
 }

 .board-image{
    background-image: url('../../assets/SNAKE AND LADDER.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fcfe8c;
 }

 .block{
    background-color: rgba(248, 244, 244, 0);
    border: 1px solid rgba(14, 13, 13, 0.342); 
 }

 .grad{
   color: black;
   border-radius: 10px;
   font-family: 'Poppins', sans-serif;
   background-image: linear-gradient(to right, #f0ba59,#f9d258);
 }

 .padding-top{
    padding-top: 5%;
 }

 @media only screen and (min-width:1800px) {
   .board-image{
      width: 800px;
      height: 800px;
   }
   .block{
      width: 80px;
      height: 80px;
   }
   .dice{
      height: 120px;
      width: 120px;
   }
   .font{
      font-size: 15px;
      float:right;
      }
      .img-size{
         height: 37px; 
         width: 37px;
       }
       .names{
          font-size: 37px;
         //  padding-left: 15px;
       }
       .grad{
          font-size: 20px;
          height: 52px;
          }

       }

 @media only screen and (min-width:1500px) and (max-width: 1800px) {
   .board-image{
      width: 770px;
      height: 770px;
   }
   .block{
      width: 77px;
      height: 77px;
   }
   .dice{
      height: 100px;
      width: 100px;
   }
   .font{
      font-size: 25px;
      float:right;
      }
      .img-size{
         height: 37px; 
         width: 37px;
       }
       .names{
          font-size: 37px;
         //  padding-left: 15px;
       }
       .grad{
          font-size: 22px;
          height: 52px;
          }

       }

 
 @media only screen and (min-width:1200px) and (max-width:1500px) {
   .board-image{
      width: 770px;
      height: 770px;
   }
   .block{
      width: 77px;
      height: 77px;
   }
  
   .dice{
      height: 80px;
      width: 80px;
   }
   .font{
      font-size: 20px;
      float:right;
      }
      .img-size{
         height: 32px; 
         width: 32px;
       }
       .names{
         font-size: 33px;
         // padding-left: 15px;
      }
      .grad{
         font-size: 20px;
         height: 52px;
         }
  
}

 @media only screen and (min-width:992px) and (max-width:1200px){
    .board-image{
      width: 580px;
      height: 580px;
    }
    .block{
       width: 58px;
       height: 58px;
    }
   
   .dice{
      height: 75px;
      width: 75px;
   }
   .font{
      font-size: 18px;
      float:right;
      }
      .img-size{
         height: 28px; 
         width: 28px;
       }
       .names{
         font-size: 30px;
         // padding-left: 15px;
      }
      .grad{
         font-size: 18px;
         height: 45px;
         }
 }

 @media only screen and (min-width:768px) and (max-width:992px){
   .board-image{
      width: 450px;
      height: 450px;
   }

   .block{
      width: 45px;
      height: 45px;
   }
 
 .dice{
      height: 60px;
      width: 60px;
   }
   .font{
      font-size: 12px;
      float:right;
      }
      .img-size{
         height: 20px; 
         width: 20px;
       }
       .names{
         font-size: 26px;
         // padding-left: 5px;
      }

}

@media only screen and (min-width:576px) and (max-width:768px){
   .board-image{
      width: 340px;
      height: 340px;
   }
   .block{
      width: 34px;
      height: 34px;
   }
   .dice{
      height: 50px;
      width: 50px;
   }
   .grad{
      font-size: 11px;
      height: 25px;
   }

   .font{
      font-size: 8px;
      float:right;
      }
      .img-size{
         height: 15px; 
         width: 15px;
       }
       .names{
         font-size: 25px;
         // padding-left: 3px;
      }
  
}

@media only screen and (min-width:400px) and (max-width:576px){
   .board-image{
      width: 330px;
      height: 330px;
   }
   .block{
      width: 33px;
      height: 33px;
   }
  .padding{
   // position: absolute;
   // top: 50%;
   // left: 50%;
   // transform: translate(-50%, -50%);
  }
   .dice{
      height: 38px;
      width: 38px;
   }
   .padding-top{
      padding-top: 1%;
   }
   .img-size{
      height: 13px; 
      width: 13px;
    }
    .grad{
       font-size: 16px;
       height: 22px;
    }

   .font{
      font-size: 8px;
      float: right;
    }
    .names{
      font-size: 13px;
      // padding-left: 3px;
   }
     
}

@media only screen and  (min-width:250px) and (max-width:400px) {
   .board-image{
      width: 230px;
      height: 230px;
   }
   .block{
      width: 23px;
      height: 23px;
   }
   .dice{
      height: 30px;
      width: 30px;
   }
   .padding-top{
      padding-top: 0%;
   }
   .font{
      font-size: 5px;
      float: right;
    }
    .grad{
       font-size: 12px;
      height: 18px;
   }
   .names{
      font-size: 20px;
      // padding-left: 2px;
   }
     
}


