 *{
     padding: 0px;
 }

//  .background{
     
//     height: 5vh;
   
// }

@media only screen and (max-width: 1200px) {
    .background{
      
        height: 7vh;
       
    }  

    @media only screen and(max-width: 800px) {
        .background{
            height: 8vh;
            
        }
    }
    

    @media only screen and (min-width:768px) {
     .background{
         height: 10vh ;
     }
        
    }

   
 }
