
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Indie+Flower&display=swap');

//  p{
//     color: rgb(7, 7, 7);
//     font-family: 'Indie Flower', cursive;
//  }

 font{
    font-size: 10px;
    float: right;
 }

 .img-size{
   height: 15px; 
   width: 15px;
 }

//  .box-padding{
//     padding-top:5% ;
//     padding-left: 5%;
//     padding-right: 5%;
//  }
 .players{
    height: 35%;
    width: 35%;
    margin-left: 35%;
 }

//  .dice{
//     height: 92%;
//     width: 48%;
//  }


 .players-size{
   width: 24px;
   height: 22px;
   padding-top: 1%;
   padding-right: 2%;
   font-family: 'Indie Flower', cursive;
 }

 .background-img{
    background: url('/assets/wooden-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%; 
    overflow-y: auto; 
 }

//  .padding{
//    padding-top: 2%;
//    padding-left: 5% ;
// }

 .box{
    background-image: url('../../assets/SNAKE AND LADDER.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(248, 248, 248);
 }

 .block{
    background-color: rgba(248, 244, 244, 0);
    border: 1px solid rgba(14, 13, 13, 0.342); 
 }

 .grad{
   color: white;
   font-family: 'Indie Flower', cursive;
 }
 
 @media only screen and (min-width:1200px) {
   .box{
      width: 570px;
      height: 570px;
   }
   .block{
      width: 57px;
      height: 57px;
   }
   .box-padding{
      padding-top: 3%;
      padding-left: 3% ;
   }
   .dice{
      width: 30%;
   }
   font{
      font-size: 12px;
      float:right;
      }
  
}

 @media only screen and (min-width:992px) and (max-width:1200px){
    .box{
      width: 450px;
      height: 450px;
    }
    .block{
       width: 45px;
       height: 45px;
    }
   
    .box-padding{
      padding-top: 3%;
      padding-left: 3% ;
    }
   .dice{
      height: 50px;
      width: 50px;
   }
   font{
      font-size: 9px;
      float:right;
      }
 }



 @media only screen and (min-width:768px) and (max-width:992px){
   .box{
      width: 450px;
      height: 450px;
   }

   .block{
      width: 45px;
      height: 45px;
   }
   
   .box-padding{
      padding-top: 3%;
      padding-left: 3% ;
   }
   .dice{
      height: 50px;
      width: 50px;
   }
   font{
      font-size: 8px;
      float:right;
      }

}

@media only screen and (min-width:576px) and (max-width:768px){
   .box{
      width: 290px;
      height: 290px;
   }
   .block{
      width: 29px;
      height: 29px;
   }
   .box-padding{
      padding-top: 4%;
      padding-left: 4% ;
   }
   .dice{
      height: 50px;
      width: 50px;
   }

   .font{
      font-size: 8px;
      float:right;
      }
  
}

@media only screen  and (min-width:400px) and (max-width:576px){
   .box{
      width: 260px;
      height: 260px;
   }
   .block{
      width: 26px;
      height: 26px;
   }
   // .box-padding{
   //    padding-right: 2%;
   //    padding-left: 2% ;
   // }
   .dice{
      height: 36px;
      width: 40px;
   }

   .font{
      font-size: 5px;
      float: right;
    }
  

 @media only screen and (min-width:250px) and (max-width:400px){
   .block{
      width: 20px;
      height: 20px;
   }
   .box{
      width: 200px;
      height: 200px;
   }
   .font{
      font-size: 5px;
    }
   // .box-padding{
   //    padding-top: 3%;
   //    padding-left: 3;
   // }

   .dice{
      height: 50px;
      width: 50px;
   }
   font{
      font-size: 9px;
      }
   
}

// @media only screen and (min-width:250px) and (max-width:300px){
//    .block{
//       width: 30px;
//       height: 30px;
//    }
//    .box{
//       width: 300px;
//       height: 300px;
//    }

//    .font{
//      font-size: 13px;
//    }
   // .box-padding{
   //    padding-top: 5%;
   //    padding-left: 7%;
   //    padding-right: 9%;
   // }

//    .dice{
//       height: 50px;
//       width: 50px;
//    }

//    font{
//    font-size: 7px;
//    float: right;
//    }
   
//  }
}