<ion-grid class="background-img" > 

   <div class="board" id="blur">
    <ion-row class="space">
      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" offset-xs="3" offset-sm="4" offset-md="4.5" offset-lg="4.5">
          <ion-button (click)="popup()"  expand="block" shape="round"  fill="clear" (click)="Calltoggle()">
              Winner<ion-icon name="enter-outline"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
    </div>
    <ion-row class="space">
      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" offset-xs="3" offset-sm="4" offset-md="4.5" offset-lg="4.5">
          <ion-button (click)="popup1()"  expand="block" shape="round"  fill="clear" >
              popup<ion-icon name="enter-outline"></ion-icon>
          </ion-button>
      </ion-col> 
    </ion-row>

  <ion-row class="ion-text-center">
    <ion-col class="box-padding ion-align-self-center"  size-xs="12" size-sm="12" size-md="9" size-lg="9" size-xl="8"> 
      <div class="box" > 
        <ion-row *ngFor='let el of arr;'>
         
          <div *ngFor='let ele of el;' class="block"> 
                                               
                                               
          <h7 *ngIf=" ele!=100">{{ele}}</h7>
           <!-- we have green color for player 1
                        red color for player 2
                        blue color for player3
                        yellow color for player4 -->
                
               <div *ngIf="ele==posPlayer1" >
                <img src="../../assets/g1.png" class="players">
              </div>
              <div *ngIf="ele==posPlayer2" >
                <img src="../../assets/r1.png" class="players">
              </div>
              <div *ngIf="ele==posPlayer3" >
                <img src="../../assets/b1.png" class="players">
              </div>
              <div *ngIf=" ele==posPlayer4" >
                <img src="../../assets/y1.png" class="players" >
              </div>
              <div *ngIf=" ele==100">
                <img src="../../assets/star-win.png" class="img-size">
              </div>
              <div *ngIf=" ele==1" >
                <img src="../../assets/arrow.png"  class="img-size">
              </div> 
  
              <!-- <div *ngIf="ele==6 ">
                <img src="../../assets/bgg.png" >
              </div> --> 
                       
           </div>
        
        </ion-row>
      </div>
      </ion-col>
    <!-- </div> -->
    <!-- (click)="rollDiceChance()" -->
       <ion-col class="padding">
      <ion-row>
        <ion-button   *ngIf="play==true"
                      (click)="rollDiceChance()" 
                      (click)="diceAudio()"
                     
                      [disabled]="memberChance==2||memberChance==3||memberChance==4"
                     >
          {{diceNumber}}
        </ion-button>  
        <p style="color: aliceblue;">for {{myName[0]}}</p>
      </ion-row>
      <ion-row>
        <ion-button    *ngIf="play==true" 
                       (click)="rollDiceChance()" 
                      (click)="diceAudio()"
                      [disabled]="memberChance==1||memberChance==3||memberChance==4">
          {{diceNumber}}
        </ion-button>  
        <p style="color: aliceblue;">for {{myName[1]}}</p>
      </ion-row>
      <ion-row>
        <ion-button    *ngIf="play==true"
                      (click)="rollDiceChance()" 
                      (click)="diceAudio()"
                      [disabled]="memberChance==2||memberChance==1||memberChance==4">
          {{diceNumber}}
        </ion-button>  
        <p style="color: aliceblue;">for {{myName[2]}}</p>
      </ion-row>
      <ion-row>
        <ion-button    *ngIf="play==true"
                       (click)="rollDiceChance()"  
                      (click)="diceAudio()"
                      [disabled]="memberChance==2||memberChance==3||memberChance==1">
          {{diceNumber}}
        </ion-button>  
        <p style="color: aliceblue;"> for {{myName[3]}}</p>
      </ion-row>
      <ion-row>
        <p style="color: aliceblue;">{{timeLeft}} Seconds Left....</p>
      </ion-row>
      <ion-row *ngIf="timeLeft==0">
        <p style="color: aliceblue;">TIME UP!</p>
      </ion-row>

      <ion-row class="padding">
        <img src="../../assets/g1.png" style="height: 15px; width: 15px;"> 
        <!-- Player 1 -->
        <p style="color: aliceblue;">{{myName[0]}}</p>
      </ion-row>

      <ion-row class="padding">
        <img src="../../assets/r1.png" style="height: 15px; width: 15px;"> 
        <p style="color: aliceblue;">{{myName[1]}}</p>
      </ion-row>

      <ion-row class="padding">
        <img src="../../assets/b1.png" style="height: 15px; width: 15px;"> 
        <p style="color: aliceblue;">{{myName[2]}}</p>
      </ion-row>

      <ion-row class="padding">
        <img src="../../assets/y1.png" style="height: 15px; width: 15px;"> 
        <p style="color: aliceblue;">{{myName[3]}}</p>
      </ion-row>
    </ion-col>    

   </ion-row>
  
</ion-grid>  