
    
        <ion-grid class="background-img">
            
            <ion-row class="logo-padding">
               <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7" offset-xs="0.5" offset-sm="1" offset-md="1.5" offset-lg="2" offset-xl="2.5">
                 <img src="../assets/snakes.png" class="image bounce">
               </ion-col>
               
            </ion-row>
            <ion-row class="space">
                <ion-col size-xs="5.5" size-sm="4" size-md="3" size-lg="2" offset-xs="3" offset-sm="4" offset-md="5" offset-lg="5" >
                    <ion-button (click)="Signin()" class="grad" expand="block" fill="clear" shape="round">
                        Sign in with <ion-icon name="logo-google"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    


    



   
   
