


.background-img{
  background: url('/assets/wooden-bg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.grad{
  background-image: linear-gradient(to right, rgba(119, 73, 52, 0.959), rgb(209, 155, 111)); 
  color: darken($color: #331704, $amount: 0); 
  border-radius: 30px;
}

.space{
  padding-top: 30px;
}