
    
        <ion-grid class="background-img">
            
            <ion-row class="logo-padding ion-text-center">
               <ion-col>
                   <img src="../assets/snakes.png" class="image bounce">
               </ion-col>
            </ion-row>

            <ion-row class="space ion-justify-content-center">
                <ion-col class="padding" size-xs="5.5" size-sm="4.5" size-md="3.5" size-lg="2.5" size-xl="2.5">
                    <ion-button (click)="Signin()" class="grad" expand="block" fill="clear" shape="round">
                        <h5 class="ion-text-center">Sign in with</h5> 
        
                        <img src="../assets/g.png" class="logo-g">

                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    


    



   
   
