<ion-content>
    <ion-grid class="background-image">
       <ion-row class="ion-text-center">
            <ion-col>
               <img src="../assets/SnakeLadderLogo.png" class="bounce">
            </ion-col>
       </ion-row>

       <ion-row class="ion-justify-content-center">
            <ion-col size-xs="5.5" size-sm="4.5" size-md="3.5" size-lg="2.5" size-xl="2">
                <ion-button (click)="Signin()" class="button" expand="block" fill="clear" shape="round">
                  <span class="font">Sign in with &nbsp;</span> 
                  <img src="https://img.icons8.com/color/28/000000/google-logo.png">
                </ion-button>
            </ion-col>
       </ion-row>

    </ion-grid>
</ion-content>
    


    



   
   
