.img-size{
  width:60%;
  height:60%;
  margin-left: 2%;
}




.background-img{
  background: url('/assets/wooden-bg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.grad{
  // background-image: linear-gradient(to right, rgba(119, 73, 52, 0.959), rgb(209, 155, 111)); 
  color: darken($color: #ce8210, $amount: 0); 
  border-radius: 10px;
  box-shadow: 2px 2px 6px #d8d0cb;
 
}

.space{
  padding-top: 30px;
}
