
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Indie+Flower&display=swap');

.background-img{
  background: url('/assets/wooden-bg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.space{
  padding-top: 10px;
}

  h1{
    font-family: 'Indie Flower', cursive;
    color: rgb(235, 159, 97);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(219, 132, 73);
    font-size: 370%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .grad{
    background-image: linear-gradient(to right, rgba(150, 88, 60, 0.959), rgb(235, 181, 137)); 
    color: darken($color: #0c0c0b, $amount: 0);
    font-family: 'Poppins', sans-serif;
    border-radius: 40px; 
    border: 2px solid black; 
    box-shadow: 0 4px 8px 0 rgb(223, 166, 166), 0 6px 20px 0 rgb(212, 134, 69);
  }

 p{
   font-size: 15px;
 }

  @media only screen and (min-width:300px) and (max-width:370px){
   
    p{
      font-size:10px ;
    }
   }

   @media only screen and (min-width:250px) and (max-width:300px){
  
    p{
      font-size: 6px;
    }
   }

  





