<ion-content>
    <ion-grid class="background-img">
        <div class="background-box">
         <ion-row class="ion-text-center">
              <ion-col>
                    <div>
                        <span class="fontStyles">
                            Hello {{this.rmService.userName}}!
                        </span>
                    </div>
                    
                    <div>
                        <span class="fontStyles1">
                            Total Gameplays : {{this.rmService.gplay}}
                        </span>
                    </div>
                   
                    <div>
                        <span class="fontStyles1">
                            Total Wins : {{this.rmService.wins}}
                        </span>
                    </div>
                          
              </ion-col>
           </ion-row>


                <ion-row class="ion-justify-content-center">
                    <ion-col size="6.7" size-xl="6">
                        <ion-button class="grad" routerLink="/createroom" (click)="this.onClick()" expand="block" shape="round" fill="clear">
                            Create Room
                            <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

                 <ion-row class="ion-justify-content-center">
                    <ion-col size="6.7" size-xl="6">
                        <ion-button (click)="popup()" class="grad" expand="block" shape="round" fill="clear">
                            Join Room
                            <ion-icon name="enter-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row> 
                    
                <ion-row class="ion-justify-content-center">
                    <ion-col size="6.7" size-xl="6">
                        <ion-button (click)="this.rmService.signOut()" routerLink="/home" class="grad" expand="block" shape="round" fill="clear">
                            Sign Out
                            <ion-icon name="refresh-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div> 
    </ion-grid>
</ion-content>